---
const { skills } = Astro.props;
---

<section id="skills" class="py-24 md:py-32">
  <h2 class="mb-8 font-serif text-4xl font-bold tracking-tight text-white">
    Skills
  </h2>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    {skills.map(skill => (
      <span class="px-4 py-2 bg-neutral rounded-md text-white text-sm">
        {skill}
      </span>
    ))}
  </div>
</section>
